<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <title>Carosello</title>
</head>
<body>
    <div class="container" id="root">
        <div id="carousel">
            <i id="prev" class="fa-solid fa-circle-arrow-left" @click = "goToPrev"></i>
            <div class="gallery">
                <figure v-for="(picture, i) in pictures" v-show="i === currentIndex">
                    <img :src="picture.image" :alt="picture.title">
                    <figcaption>
                      <h2>{{picture.title}}</h2>
                      <h3>{{picture.text}}</h3>
                    </figcaption>
                  </figure>
            </div>
            <i id="next" class="fa-solid fa-circle-arrow-right" @click = "goToNext"></i>
        </div>
        <div id="thumbnails">
            <img v-for="(picture, i) in pictures" :src="picture.image" :alt="picture.title" :class="{'active' : i === currentIndex}" 
            @click = "goTo(i)">
        </div>
        
    </div>
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
</body>
</html>